<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--여기서, 연속으로 데이터 출력할 때 쓸 있음-->
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>

<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}"> <!-- each -> 반복문, board에서 list가 없어질 때까지 반복한다-->
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                                                    <!-- [thymleaf] 하이퍼링크 <a>태그 추가, 고유 id 환경변수로 해서 넘어가는거 -->
                    </td>
                </tr>
                <form action="/board/write" method="get"> <!--작성 버튼 눌러서 submit 시 해당 url page로 감-->
                    <button type="submit">글쓰기</button> <!--버튼 누르면 submit됨-->
                </form>
            </tbody>
        </table>

    </div>
</body>
</html>